[hidden] {
  display: none !important;
}

@property --charge-level {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

html {
  font-size: 18px;
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
  background: linear-gradient(0, rgb(7, 9, 11), rgb(65, 85, 92));
  color: white;

  --gap: 4rem;
  --spacing: 2rem;
  --powerSource-size: 100%;
  --border-radius: 1rem;
}

html,
body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
}

.infoSections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--spacing);

  margin-inline: auto;
  margin-block: var(--gap);
  padding-inline: var(--gap);

  max-width: 54rem;
}

.infoSection {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  max-width: 40rem;
  white-space: nowrap;
  gap: 1rem;

  background: rgba(255, 255, 255, 0.125);
  border-radius: var(--border-radius);
  padding: calc(var(--spacing) / 1.5);
}

.infoSection-icon {
  width: 2.25rem;
  height: 2.25rem;
}

.infoSection-heading {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.infoSection-entries {
  list-style: none;
  margin-block: 0.5rem 0;
  padding-inline: 0.125rem 0;
  font-size: 1rem;
}

.infoSection-entries strong {
  opacity: 0.75;
}

.powerSources {
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: var(--gap);
  margin: var(--gap);
}

.powerSource {
  transition: filter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.powerSource-info {
  font-weight: 500;
  font-size: 1.75rem;
  margin-block: 0.25rem 0;
}

.powerSource-details {
  margin: 0;
  font-weight: 400;
}

.home,
.powerSource-icon {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 10rem;
  aspect-ratio: 1;
}

.home {
  margin: var(--gap) auto;
}

.powerSource.is-off {
  filter: grayscale(1);
}

.generator-meter {
  transform-origin: 50% 50%;
  animation: meter 1s ease-in-out infinite alternate;
  --animation-distance: 18deg;
}

.powerSource.is-off .generator-meter {
  animation-play-state: paused;
}

.power-plant-cloud {
  animation: puff 2s ease-in infinite;
  transform-origin: center;
}

.powerSource.is-off .power-plant-cloud {
  visibility: hidden;
}

.powerSource-chargeSymbol {
  animation: throb 1s ease-in-out infinite alternate;
  transition: opacity 1s ease-out;
}

.powerSource--battery .powerSource-chargeLevel {
  animation: float 1s ease-in-out infinite alternate;
  animation-play-state: paused;
}

.powerSource--battery.is-charging .powerSource-chargeLevel {
  animation-play-state: running;
  transition: --charge-level 0.5s ease-out;
}

.powerSource--battery.is-charged .powerSource-chargeLevel {
  animation-name: unset;
  --charge-level: 1;
}

.powerSource--battery .powerSource-chargeSymbol {
  animation-play-state: paused;
  visibility: hidden;
}

.powerSource--battery.is-charging .powerSource-chargeSymbol {
  animation-play-state: running;
  visibility: visible;
}

@keyframes float {
  0% {
    transform: scaleY(calc(var(--charge-level) * 0.99));
  }

  100% {
    transform: scaleY(calc(var(--charge-level) * 1.01));
  }
}

@keyframes throb {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@keyframes meter {
  0% {
    transform: rotate(calc(-1 * var(--animation-distance)));
  }

  100% {
    transform: rotate(var(--animation-distance));
  }
}

@keyframes puff {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px;
    --gap: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
    --gap: 1.5rem;
  }
}
