:root {
  --gap: 5rem;
}

@property --charge-level {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

html {
  font-size: 20px;
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
  background: rgb(35, 35, 35);
  color: white;
}

html,
body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
}

.alarms {
  display: flex;
  flex-direction: row;
  max-width: 40rem;
  margin: 2rem auto;
  gap: 1rem;
}

.alarms-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.alarms-heading {
  margin: 0;
  font-size: 1.5rem
  font-weight: 500;
}

.alarms-entries {
  list-style: none;
  margin-block: 0.5rem 0;
  padding-inline: 0.25rem 0;
  font-size: 1rem;
}

.alarms-entries strong {
  opacity: 0.7;
}

.alarms-columns {
  display: flex;
  flex-direction: row;
  gap: 2rem
}

.powerSources {
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: var(--gap);
  margin: var(--gap);
}

.powerSource {
  transition: filter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.powerSource-info {
  font-weight: 500;
  font-size: 1.75rem;
  margin-block: 0.25rem 0;
}

.powerSource-details {
  margin: 0;
  font-weight: 400;
}

.home,
.powerSource-icon {
  display: block;
  width: 12rem;
  height: 12rem;
}

.home {
  margin: var(--gap) auto;
}

.powerSource.is-off {
  filter: grayscale(1);
}

.generator-meter {
  transform-origin: 50% 50%;
  animation: meter 1s ease-in-out infinite alternate;
  --animation-distance: 18deg;
}

.powerSource.is-off .generator-meter {
  animation-play-state: paused;
}

.power-plant-cloud {
  animation: puff 2s ease-in infinite;
  transform-origin: center;
}

.powerSource.is-off .power-plant-cloud {
  visibility: hidden;
}

.powerSource-chargeSymbol {
  animation: throb 1s ease-in-out infinite alternate;
  transition: opacity 1s ease-out;
}

.powerSource--battery .powerSource-chargeLevel {
  animation: float 1s ease-in-out infinite alternate;
  animation-play-state: paused;
}

.powerSource--battery.is-charging .powerSource-chargeLevel {
  animation-play-state: running;
  --charge-level: 1;
  transition: --charge-level 0.5s ease-out;
}

.powerSource--battery.is-charged .powerSource-chargeLevel {
  animation-name: unset;
  --charge-level: 1;
}

.powerSource--battery .powerSource-chargeSymbol {
  animation-play-state: paused;
  visibility: hidden;
}

.powerSource--battery.is-charging .powerSource-chargeSymbol {
  animation-play-state: running;
  visibility: visible;
}

@keyframes float {
  0% {
    transform: scaleY(calc(var(--charge-level) * 0.99));
  }

  100% {
    transform: scaleY(calc(var(--charge-level) * 1.01));
  }
}

@keyframes throb {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@keyframes meter {
  0% {
    transform: rotate(calc(-1 * var(--animation-distance)));
  }

  100% {
    transform: rotate(var(--animation-distance));
  }
}

@keyframes puff {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}